<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="item-a">ab</div>
        <div class="item-b">cPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPd</div>
    </div>
</body>
</html>
<style>

.container {
    display: grid;
    /*grid-template-columns: 1fr 2fr 1fr; !** 类似flex **!*/
    /*grid-template-columns: 60px 60px;*/
    grid-template-rows: 90px 90px;
    grid-auto-columns: 60px;
}
.item-a {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background: #67b168;
}
.item-b {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    background: #5bc0de;
}

</style>